* {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'League Spartan', sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}

.main-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
  gap: 30px;
}

.main-content .header {
  height: 15%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header .logo {
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: left;
  align-items: center;
  font-weight: 700;
  font-size: 32px;
}

.header .change-theme-button-container {
  height: 65px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.change-theme-button-container .toggle-labels {
  height: 50%;
  width: 100px;
  display: flex;
  gap: 15%
}

.toggle-labels .label {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.change-theme-button-container .toggle-wrapper {
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.toggle-wrapper .text-label {
  height: 100%;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: right;
  margin-right: 20px;
}

.toggle-wrapper .toggle-container {
  height: 90%;
  width: 100px;
  border-radius: 9999px;
}

.toggle-container .toggle-thumb {
  position: relative;
  height: 20px;
  width: 20px;
  top: 5px;
  left: 5px;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.toggle-container .toggle-thumb:hover {
  cursor: pointer;
}

.main-content .screen {
  height: 25%;
  width: auto;
  border-radius: 10px;
  display: flex;
  padding: 0 30px;
}

.screen > span {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
  font-size: 55px;
}

.main-content .keyboard {
  height: 100%;
  width: auto;
  border-radius: 10px;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 15px;
  padding: 20px;
}

.keyboard .row-keyboard {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.keyboard .row-keyboard > button {
  height: 100%;
  width: 100%;
  border: none;
  border-radius: 6px;
  font-size: 25px;
}

.keyboard .row-keyboard > button:active {
  transform: translateY(2px);
}

.keyboard .row-keyboard > button:hover {
  cursor: pointer;
}

